/* Correzione Colore e Grandezza del BackGround */
/* IMG DEL BACKGROUND */ 
.div-body{
    background-image: url(img/pattern.png);
    background-size: 25% 190px;
    background-color: rgba(78,160,255,255);
    height: 100px;
}

/* Correzione Margine Superiore e Altezza */ 
.logo{
    margin-top: 45px;
    height: 50px;
}

/* Azzerato il margine */
.titolo{
    margin-bottom: auto;
}

/* Azzerato il margine e cambiato colore */
.autore{
    margin: auto;
    color: rgba(137,137,137,255);
}

/* Cambiato colore */
.nome {
    color: rgba(110,199,238,255);
}

/* BackGround e margini "fotografi" */
.fotografi{
    margin: auto;
}

.fotografi-1{
    margin: auto;
}

.fotografi-2{
    margin: auto;
}

.colore{
    background-color: yellow;
}

/* lista */
.lista{
    padding: 10px;
}

/* table */
.table{
    border-spacing:  0px;
    table-layout: unset;
    width: 100%;
}

.riga{
    background-color: rgba(32,169,229,255);
}

.cella{
    text-align: left;
}

.tbody{
    background-color: rgba(177,229,242,255);
    height: 50px;
}

.tbody-2{
    background-color: rgba(255,255,255,255);
    height: 50px;
}




.interesse{
    color: rgba(137,137,137,255);
}

.foto-pc{
    margin: 0px;
    background-image: url(img/monitor.jpg);
    width: 312px;
    height: 208px;
    color: #FFFFFF;
    font-size:larger;
}

.foto-analisi{
    margin: 0px;
    background-image: url(img/graph.jpg);
    width: 312px;
    height: 208px;
    color: #FFFFFF;
    font-weight: normal;
}