/* Correzione Colore e Grandezza del BackGround */
/* IMG DEL BACKGROUND */ 
.div-body{
    background-image: url(img/pattern.png);
    background-size: 25% 190px;
    background-color: rgba(78,160,255,255);
    height: 100px;
}

/* Correzione Margine Superiore e Altezza */ 
.logo{
    margin-top: 45px;
    height: 50px;
}

/* Azzerato il margine */
.titolo{
    margin-bottom: auto;
}

/* Azzerato il margine e cambiato colore */
.autore{
    margin: auto;
    color: rgba(137,137,137,255);
}

/* Cambiato colore */
.nome {
    color: rgba(110,199,238,255);
}

/* BackGround e margini "fotografi" */
.fotografi{
    margin: auto;
}

.fotografi-1{
    margin: auto;
}

.fotografi-2{
    margin: auto;
}

.colore{
    background-color: yellow;
}

/* lista */
.lista{
    padding: 10px;
}

.thead{
    background-color: rgba(32,169,229,255);
    width: 1000px;
    color: white;
}

.tbody{
    background-color: rgba(177,229,242,255);
}

.interesse{
    color: rgba(137,137,137,255);
}
